/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 70px;
    color: #333 !important;
}

nav {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 10%,rgba(240,240,240,0.9) 100%) !important;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025)
}

.navbar-default {
    background: rgba(0,0,0,0);
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    color: rgba(50, 100, 170, 1) !important;
    text-shadow: 1px 1px #ffffff;
    border-right: 0.7px #333;
}

.panel-body {
    color: #222;
}

.no-border {
    border: 0;
    box-shadow: none;
}

.article-title a{
    color: #333;
}

.article-title a:hover{
    color: #333;
    text-decoration: none;
}

.article-title input{
    font-size: 22px;
}

.article-title {
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
}

.article-footer {
    color: #333;
}