<div class="container-fluid">

  <div class="navbar-header">
    <button #btn type="button" class="navbar-toggle hidden-sm-up" (click)="collapseButtonClick($event); btn.blur()" (outsideClick)="outsideClick($event)" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
    </button>
    <a class="navbar-brand" [routerLink]='' >
      <span>{{brand}}</span>
    </a>
  </div>
  <div class="collapse navbar-collapse" #navbar [(attr.aria-expanded)]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">
    <ul class="nav navbar-nav" >
      <li *ngFor="let link of left">
        <a [routerLink]=link.url >{{link.text}}</a>
      </li>
    </ul>
  </div>
</div>